@import './mixins.scss';
@import './media.scss';

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
  font-family: "Quicksand", sans-serif;
}

.container {
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
}